{% extends "digital-land-frontend/dlf-base.html" %}
{%- from "digital-land-frontend/components/map/macro.html" import dlMap %}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": data_type|capitalize
        }
    ]
    }) -}}
{%- endblock -%}

{% block content %}

<h1 class="govuk-heading-xl">{{ data_type|capitalize }}</h1>

<p class="govuk-body">Showing {{ index['count'] }} records from {{ index['organisation']|length }} organisations.</p>


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% for org in index['organisation']  %}
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header" id="{{ org }}">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-{{loop.index}}">
            {{ org|organisation_id_to_name }}
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-{{loop.index}}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{loop.index}}">
        <ul class="govuk-list govuk-list--bullet">
            {% for row in index['organisation'][org]['rows'] %}
            {% set ns = namespace(row_name="") %}
            {% if row['site'] %}
              {% set ns.row_name = row['site'] %}
                {% if row['site-address'] %}
                {% set ns.row_name = ns.row_name + ", " + row['site-address'] %}
                {% endif %}
              {% set ns.row_name = ns.row_name + " (" + row['slug']|clean_slug + ")" %}
            {% else %}
            {% set ns.row_name = row['slug']|clean_slug %}
            {% endif %}
            <li><a href="{{ urlRoot }}{{ row['slug'] }}">{{ ns.row_name }}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}
